@import "tailwindcss";

:root {
  --background: #020817;
  --accent: #3da5d1;
  --text: #F8FAFC;
  --muted: #94A3B8;

  --secondary: #16161d;
  --card: #1e293b;
}

/* Apply global defaults */
body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-poppins), system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 25ch;
  }
}


/* Blinking cursor effect */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.animate-typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--accent);
  width: 0;
  animation:
    typing 3s steps(16, end) forwards,
    blink 0.7s step-end infinite;
}